In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)

In [12]:
crash_data = pd.read_csv('AviationDataEnd2016UP.csv', encoding = 'iso-8859-1')
crash_data.head(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20170103X43747,Accident,WPR17LA046,2017-01-03,"Paradise, MT",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,NaN,2.0,NaN,NaN,VMC,CRUISE,Preliminary,05/01/2017
1,20161230X55950,Accident,WPR17FA044,2016-12-29,"Dabob, WA",United States,47.823611,-122.790000,NaN,NaN,...,Personal,NaN,4.0,NaN,NaN,NaN,VMC,NaN,Preliminary,05/01/2017
2,20161229X93022,Accident,CEN17LA062,2016-12-27,"Piedmont, MO",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,LANDING,Preliminary,03/01/2017
3,20161227X80237,Accident,CEN17LA061,2016-12-27,"Farmington, MO",United States,37.761111,-90.428611,FAM,FARMINGTON RGNL,...,Personal,NaN,NaN,NaN,1.0,1.0,VMC,TAKEOFF,Preliminary,29/12/2016
4,20161226X80840,Accident,WPR17FA041,2016-12-26,"Fresno, CA",United States,36.844444,-119.870834,E79,Sierra Sky Park,...,Personal,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,05/01/2017

In [56]:
crash_data['State'] = crash_data[crash_data['Location'].notnull()]['Location'].apply(lambda x: x.split(', ')[-1])
crash_data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date,State
0,20170103X43747,Accident,WPR17LA046,2017-01-03,"Paradise, MT",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,VMC,CRUISE,Preliminary,05/01/2017,MT
1,20161230X55950,Accident,WPR17FA044,2016-12-29,"Dabob, WA",United States,47.823611,-122.790000,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,VMC,NaN,Preliminary,05/01/2017,WA
2,20161229X93022,Accident,CEN17LA062,2016-12-27,"Piedmont, MO",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,VMC,LANDING,Preliminary,03/01/2017,MO
3,20161227X80237,Accident,CEN17LA061,2016-12-27,"Farmington, MO",United States,37.761111,-90.428611,FAM,FARMINGTON RGNL,...,NaN,NaN,NaN,1.0,1.0,VMC,TAKEOFF,Preliminary,29/12/2016,MO
4,20161226X80840,Accident,WPR17FA041,2016-12-26,"Fresno, CA",United States,36.844444,-119.870834,E79,Sierra Sky Park,...,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,05/01/2017,CA

In [95]:
by_state = crash_data[crash_data['Country'] == 'United States'].groupby('State').count()
by_state = by_state.reset_index()
by_state.head()

,State,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,AK,5171,5171,5171,5171,5171,5171,1689,1689,1934,...,4807,740,3637,3614,3698,4813,5147,5004,5171,4355
1,AL,1051,1051,1051,1051,1051,1051,341,341,592,...,1040,23,781,750,766,900,1049,1011,1051,859
2,AO,7,7,7,7,7,7,5,5,0,...,3,1,1,3,1,6,5,6,7,6
3,AR,1412,1412,1412,1412,1412,1412,377,378,646,...,1406,20,1085,1066,1085,1224,1410,1385,1412,1182
4,AZ,2554,2554,2554,2554,2554,2554,1049,1047,1607,...,2492,106,1661,1588,1654,2196,2549,2426,2554,2223

In [116]:
data = dict(
            type='choropleth',
            colorscale = 'YIOrRd',
            autocolorscale = True,
            locations = by_state['State'],
            z = by_state['Event.Id'],
            locationmode = 'USA-states',
            text = by_state['Event.Id'],
            marker = dict(
                line = dict (
                    color = 'rgb(255,255,255)',
                    width = 2
                ) ),
            colorbar = dict(
                title = "# Crashes")
            ) 

layout = dict(
        title = 'Number of Aviation Crashes per State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )

choromap = go.Figure(data=[data], layout=layout)
iplot(choromap)